.hotSpot-wrapper{
  position: absolute;
  width: 100%;
  height: 100%;
}
/* 핫스팟 노란색 */
.hotspot-y{
  position: absolute;
  width: 2.5vw;
  height: 2.5vw;
  background-image: url("../assets/img/common/zoom_spot.png");
  background-size: cover;
  left: 50%; /* 아이콘을 수평으로 중앙에 위치시킵니다. */
  top: 50%; /* 아이콘을 수직으로 중앙에 위치시킵니다. */
  transform: translate(-50%, -50%); /* 아이콘을 중앙으로 정렬합니다. */
  z-index: 30;
  transition: 'transform 0.8s ease-in-out'
}
.hotspot-y:hover{
  width: 2.6vw;
  height: 2.6vw;
}

.arrow_box {
  display: none;
  position: absolute;
  top: 1.4vw;
  padding: 8px;
  left: 20%;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: rgba(255,255,255,0.3);
  color: #000000;
  font-size: 14px;
  font-weight: bold;
}

.tooltip {
  position: absolute;
  color: #000000;
  /* width: 150px; */
  font-size: 16px;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 5px;
  display: inline-block;
  z-index: 50;
  background-color: rgba(255, 255, 255, 0.65);
  box-shadow: 1px 1px 1px 1px rgb(0, 0, 0);
  -ms-user-select: none; 
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.hover-button:hover + .tooltip {
  display: inline-block;
}


/* 모달 내용 */
.spot-modal-cont-wrapper{
  position: relative;
  max-height: 80%;
  min-height: 50%;
  top: -60%;
  left: 29%;
  width: 70%;
  z-index: 100;
  overflow-y: scroll;
  box-sizing: border-box;

}
.hotspot-img{
  width: 100%;
}
/* 핫스팟 노란색 위치 */
/* 전면 */
.hotspot-1{
  left: 44%;
  top: 43%;
}
.hotspot-1-tip{
  left: 43%;
  top: 45%;
}

.hotspot-10{
  left: 37%;
  top: 35%;
}
.hotspot-10-tip{
  left: 36%;
  top: 37%;
}

.hotspot-13{
  left: 34%;
  top: 49%;
}
.hotspot-13-tip{
  left: 33%;
  top: 51%;
}
.hotspot-27{
  left: 63%;
  top: 28%;
}
.hotspot-27-tip{
  left: 62%;
  top: 31%;
}
/* 측면 */
.hotspot-2{
  left: 76%;
  top: 56%;
}
.hotspot-2-tip{
  left: 75%;
  top: 58%;
}
.hotspot-6{
  left: 30%;
  top: 58%;
}
.hotspot-6-tip{
  left: 29%;
  top: 60%;
}
.hotspot-21{
  left: 37%;
  top: 29%;
}
.hotspot-21-tip{
  left: 36%;
  top: 31%;
}
.hotspot-24{
  left: 64%;
  top: 39%;
}
.hotspot-24-tip{
  left: 63%;
  top: 41%;
}
/* 후면 */
.hotspot-8{
  left: 43%;
  top: 18%;
}
.hotspot-8-tip{
  left: 42%;
  top: 20%;
}
.hotspot-15{
  left: 52%;
  top: 51%;
}
.hotspot-15-tip{
  left: 51%;
  top: 53%;
}
.hotspot-16{
  left: 31%;
  top: 49%;
}
.hotspot-16-tip{
  left: 31%;
  top: 51%;
}
.hotspot-17{
  left: 49%;
  top: 14%;
}
.hotspot-17-tip{
  left: 48%;
  top: 16%;
}
.hotspot-23{
  left: 36%;
  top: 64%;
}
.hotspot-23-tip{
  left: 35%;
  top: 66%;
}
.hotspot-26{
  left: 29%;
  top: 36%;
}
.hotspot-26-tip{
  left: 28%;
  top: 38%;
}
/* 운전석 */
.hotspot-3{
  left: 55%;
  top: 38%;
}
.hotspot-3-tip{
  left: 54%;
  top: 40%;
}
.hotspot-4{
  left: 34%;
  top: 39%;
}
.hotspot-4-tip{
  left: 33%;
  top: 41%;
}
.hotspot-9{
  left: 74%;
  top: 33%;
}
.hotspot-9-tip{
  left: 73%;
  top: 35%;
}
.hotspot-11{
  left: 53%;
  top: 77%;
}
.hotspot-11-tip{
  left: 52%;
  top: 79%;
}
.hotspot-12{
  left: 50%;
  top: 84%;
}
.hotspot-12-tip{
  left: 49%;
  top: 86%;
}
.hotspot-18{
  left: 51%;
  top: 68%;
}
.hotspot-18-tip{
  left: 50%;
  top: 70%;
}
.hotspot-19{
  left: 48%;
  top: 55%;
}
.hotspot-19-tip{
  left: 47%;
  top: 57%;
}
.hotspot-20{
  left: 47%;
  top: 57%;
}
.hotspot-20-tip{
  left: 46%;
  top: 59%;
}
.hotspot-22{
  left: 23%;
  top: 50%;
}
.hotspot-22-tip{
  left: 22%;
  top: 52%;
}
.hotspot-25{
  left: 75%;
  top: 74%;
}
.hotspot-25-tip{
  left: 67%;
  top: 76%;
}
.hotspot-29{
  left: 49%;
  top: 41%;
}
.hotspot-29-tip{
  left: 48%;
  top: 43%;
}
/* 풀샷 */
.hotspot-5{
  left: 77%;
  top: 11%;
}
.hotspot-5-tip{
  left: 65%;
  top: 13%;
}
.hotspot-7{
  left: 23%;
  top: 48%;
}
.hotspot-7-tip{
  left: 22%;
  top: 50%;
}
.hotspot-14{
  left: 18%;
  top: 24%;
}
.hotspot-14-tip{
  left: 17%;
  top: 26%;
}
.hotspot-20{
  left: 82%;
  top: 72%;
}
.hotspot-20-tip{
  left: 81%;
  top: 74%;
}
.hotspot-30{
  left: 66%;
  top: 52%;
}
.hotspot-30-tip{
  left: 65%;
  top: 54%;
}

/* 반응형 */
@media (max-width:2200px) {
.spot-modal-cont-wrapper{
    min-height: 60%;
    top: -72%;
    left: 24%;
  }   
}
@media (max-width:1900px) {
  .spot-modal-cont-wrapper{
      width: 64%;
    }  
}
@media (max-width:1600px){
  .hotspot-y{
    width: 4vw;
    height: 4vw;
  }
  .hotspot-y:hover{
    width: 4.1vw;
    height: 4.1vw;
  }
   /* 후면 */
  .hotspot-8{
    left: 39%;
    top: 18%;
  }
  .hotspot-8-tip{
    left: 38%;
    top: 20%;
  }
  .hotspot-17{
    left: 47%;
    top: 14%;
  }
  .hotspot-17-tip{
    left: 46%;
    top: 16%;
  }
  .hotspot-23{
    left: 36%;
    top: 64%;
  }
  .hotspot-23-tip{
    left: 35%;
    top: 66%;
  }
  .hotspot-26{
    left: 29%;
    top: 36%;
  }
  .hotspot-26-tip{
    left: 28%;
    top: 38%;
  }
  /* 운전석 */
  .hotspot-3{
    left: 60%;
    top: 32%;
  }
  .hotspot-3-tip{
    left: 59%;
    top: 34%;
  }
  .hotspot-4{
    left: 38%;
    top: 34%;
  }
  .hotspot-4-tip{
    left: 37%;
    top: 36%;
  }
  .hotspot-9{
    left: 84%;
    top: 27%;
  }
  .hotspot-9-tip{
    left: 83%;
    top: 25%;
  }
  .hotspot-11{
    left: 61%;
    top: 70%;
  }
  .hotspot-11-tip{
    left: 60%;
    top: 72%;
  }
  .hotspot-12{
    left: 55%;
    top: 76%;
  }
  .hotspot-12-tip{
    left: 54%;
    top: 78%;
  }
  .hotspot-18{
    left: 57%;
    top: 61%;
  }
  .hotspot-18-tip{
    left: 56%;
    top: 63%;
  }
  .hotspot-19{
    left: 54%;
    top: 49%;
  }
  .hotspot-19-tip{
    left: 53%;
    top: 51%;
  }
  .hotspot-20{
    left: 47%;
    top: 57%;
  }
  .hotspot-20-tip{
    left: 46%;
    top: 59%;
  }
  .hotspot-22{
    left: 26%;
    top: 43%;
  }
  .hotspot-22-tip{
    left: 25%;
    top: 45%;
  }
  .hotspot-25{
    left: 86%;
    top: 63%;
  }
  .hotspot-25-tip{
    left: 85%;
    top: 65%;
  }
  .hotspot-29{
    left: 55%;
    top: 37%;
  }
  .hotspot-29-tip{
    left: 54%;
    top: 38%;
  }
  /* 풀샷 */
  .hotspot-5{
    left: 97%;
    top: 12%;
  }
  .hotspot-5-tip{
    left: 90%;
    top: 15%;
  }
  .hotspot-7{
    left: 32%;
    top: 44%;
  }
  .hotspot-7-tip{
    left: 31%;
    top: 46%;
  }
  .hotspot-14{
    left: 22%;
    top: 20%;
  }
  .hotspot-14-tip{
    left: 21%;
    top: 22%;
  }
  .hotspot-20{
    left: 96%;
    top: 63%;
  }
  .hotspot-20-tip{
    left: 93%;
    top: 65%;
  }
  .hotspot-30{
    left: 78%;
    top: 49%;
  }
  .hotspot-30-tip{
    left: 76%;
    top: 51%;
  }

}
@media (max-width:1500px) {
  .spot-modal-cont-wrapper{
    height: 50vh;
    top:-65%
  } 
}
@media (max-width:900px) {
  .spot-modal-cont-wrapper{
    width: 70%;
    height: 30%;
    left: 29%;

  } 
}